body{
    padding:0;
    margin:0;

}
#progress_list{
    display:flex;
    width: 50%;
    height: 100dvh;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin:0  auto;
    align-items: center;
    padding: 5em 0 2em 0;
}

#progress_list div{
    width:min-content;
    height: min-content;
    margin: .5em;
    border:.01em solid black;
    padding:1em;
    border-radius:.5em;
    user-select: none;
    -webkit-user-select: none;
}

.complete{
    background:red;
}
#progress_bar{
    width:100%;
    position:fixed;
    top:0;
    background:white;
    box-sizing: border-box;




}
#progress_bar div{
    display:flex;
    justify-content: center;
    width:0px;
    background:red;
    padding: .2em;
 
}
#side-bar{
    position:fixed;
    top:5em;
    left:1em;
    display:flex;
    flex-direction: column;
    gap :1em;
}

#side-bar div{
    padding:1.5em;
    border-radius: 1em;
}

#bmi_report{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#menu_selector{
    position:fixed;
    top:5em;
    right:1em;
    width:15em;

}
#menu_selector_apps{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
#menu_selector #apps{
    
    border-radius: 15px;
    background:red;
    padding:1em;
   

}
#settings_menu{
    display:flex;
    gap:5em;
}
.settings_menu_active_option{
    background:red;
    border-radius: 1em;
    

}
#settings_menu_switcher{

    
}
#settings_menu_switcher ul{

    
}


#settings_menu_switcher ul li{
    list-style: none;
    padding:.1em 2em;
    user-select: none;
    -webkit-user-select: none;


}
#settings_menu_form{
    padding:5em;

}

@media (width <= 800px) {
  #progress_list{
    width: 90%;

  }
  }
